In [2]:
# 1. What is the difference between WHERE and HAVING claus. And what are their uses.

#  Answer :
# WHERE clause filters rows based on conditions, returning only records that matches the condition. (e.g., WHERE salary > 50000)

# HAVING claus :

In [3]:
# 2. Explain JOINS, How to apply a type of join on a table.

In [4]:
# 3. Query writing - Ex. Write a query to find highest and the second highest sale in city.

In [5]:
# 4. Pivot table.

In [6]:
# 5. What is the difference between DELETE, DROP, TRUNCATE.

# Answer :

# DROP permanently deletes a database object (table, database, view, index) and its data—no undo.
# you can just use the drop statement and mention the table name to drop the table.
#  change CANNOT be undone.

# Example -  DROP TABLE employees;
# output - It will delete the entire table named employees from the database including all its data and structure.
#----------------------------------------------------------------------------------------------------------

# DELETE - will delete all the rows based on the condition provided in the where clause. If no condition is provided, all the rows will be deleted, however the column structure will remain the same.
#  change CAN be undone.

# Example -  DELETE from employees;
# WHERE employee_id = 26;
# SELECT * FROM employees;

# output - It will delete the row with employee_id 26 only, from the employees table.
#----------------------------------------------------------------------------------------------------------

# TRUNCATE -

In [ ]:
# 6. AUTOCOMMIT : With Autocommit Every SQL change is saved immediately.
# Use when each change must be saved instantly (e.g., simple production inserts).

# Example :
# SET autocommit = 1;
# INSERT INTO employees VALUES (1,'A',50000);                        # saved immediately permanent.
#----------------------------------------------------------------------------------------------------------

# COMMIT: With commit We can save current transaction changes, permanently.
# Use after a successful group of related operations.

# Example :
# SET autocommit = 0;
# INSERT INTO employees VALUES (2,'B',60000);
# COMMIT;                                                              #  changes permanently saved

#----------------------------------------------------------------------------------------------------------

# ROLLBACK: With the help of rollback we can restores last commit. It Cancels uncommitted changes.
# Use when an error occurs and you must undo pending changes.

# Example :
# SET autocommit = 0;
# INSERT INTO employees VALUES (3,'C',70000);
# ROLLBACK;                                                              # insert is undone

In [ ]:
# 7 . What are constraints? Explain different types of constraints.

# Answer :
# Constraints are rules enforced on table columns to ensure data accuracy, consistency, and integrity (e.g., PRIMARY KEY, FOREIGN KEY, UNIQUE, NOT NULL, CHECK).

# PRIMARY KEY : It is used as a unique identifier, you usually want a primary key in a table you make , each
# value within a column that is set a primary key must be unique and cannot be NULL. There can only be one primary key per table.

# UNIQUE: Ensures all values are different—allows NULLs (unlike primary key).

# NOT NULL: Forces a column to always have a value.

# CHECK: Restricts values using a condition (e.g., age >= 18).

# DEFAULT: Automatically assigns a value if none is provided.

# FOREIGN KEY: is a column that links one table to another table’s primary key, enforcing referential integrity—you can’t insert invalid or orphan data.