In [1]:
# Joins in MySQL -

# When we have data split across multiple tables, we use joins to combine that data and get the full picture.

In [2]:
# Let's say we have two tables:

# students
# id	name
# 1	Alice
# 2	Bob
# marks
# #-----------------------------
# student_id	subject	score
# 1	Math	95
# 2	Math	88
# 2	Science	90

In [3]:
# 1. INNER JOIN -  We are telling MySQL to include only the rows that have matching values in both tables.

# INNER JOIN Definition -
# An INNER JOIN returns only the matching rows from two or more tables â€”
# that is, rows where the values in both tables match based on a common column.

# Example - 
# SELECT students.name, marks.subject, marks.score
# FROM students
# INNER JOIN marks ON students.id = marks.student_id;

In [4]:
# 2. LEFT JOIN  - It returns all rows from the left table,
# and the matching rows from the right table.

# If thereâ€™s no match in the right table, it still shows the left tableâ€™s data â€”
# but the right tableâ€™s columns will show NULL.

# Example - 
# SELECT students.name, marks.subject, marks.score
# FROM students
# LEFT JOIN marks ON students.id = marks.student_id;

In [5]:
# 3. RIGHT JOIN - It returns all rows from the right table,
# and the matching rows from the left table.

# If thereâ€™s no match in the left table, it still shows the right tableâ€™s data â€”
# but the left tableâ€™s columns will show NULL.

# Example - 
# SELECT students.name, marks.subject, marks.score
# FROM students
# RIGHT JOIN marks ON students.id = marks.student_id;

In [ ]:
# 4. CROSS JOIN - It returns every possible combination of rows from two tables.

# Itâ€™s also called a Cartesian Join, because it creates the Cartesian product of both tables.

In [ ]:
# 5. FULL JOIN - It Returns all rows from both tables â€” matching and unmatched.
# Unmatched rows from either side â†’ NULL.

In [6]:
# Summary - 

# Join Type	        What it does
# INNER JOIN	        Only rows with a match in both tables
# LEFT JOIN	        All rows from the left table, with matched data if any
# RIGHT JOIN	        All rows from the right table, with matched data if any
# CROSS JOIN	        All combinations of rows from both tables

In [ ]:
# Simplified - 

#  Type of Join	        What happens to unmatched rows 

#  INNER JOIN	            Unmatched rows are skipped (not shown)
#  LEFT JOIN	            Keeps all rows from the left table â€” (unmatched rows from the right side show NULL)
#  RIGHT JOIN	            Keeps all rows from the right table â€” (unmatched rows from the left side show NULL)
#  FULL JOIN              Keeps all rows from both tables â€” (unmatched rows on either side show NULL)
#  CROSS JOIN             No matching condition used â€” returns every possible combination of rows from both tables 
#---------------------------------------------------------------------------------------------------------------------------------
# Quick way to remember: ðŸ’¡ ðŸ’¡ ðŸ’¡ 

# INNER â†’ only matching
# LEFT â†’ keep left
# RIGHT â†’ keep right
# FULL â†’ keep both
# CROSS â†’ combine everything with everything